apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf 8.8.8.8 {
           max_concurrent 1000
           policy sequential
           expire 5s
           max_fails 1
           health_check 5s
        }
        cache 300 {
           disable success cluster.local
           disable denial cluster.local
           success 1000
           denial 10
        }
        loop
        reload
        loadbalance
    }
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
