apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: macos-timemachine
resources:
  - namespace.yaml
  - password-generator.yaml
  - statefulset.yaml
  - service.yaml
  - networkpolicy.yaml
labels:
  - pairs:
      app: samba-timemachine
      component: timemachine
