apiVersion: v1
kind: Service
metadata:
  name: timemachine
  namespace: macos-timemachine
  labels:
    app: timemachine
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  type: ClusterIP
  selector:
    app: timemachine
  ports:
    - name: netbios-ns
      port: 137
      targetPort: 137
      protocol: UDP
    - name: netbios-dgm
      port: 138
      targetPort: 138
      protocol: UDP
    - name: netbios-ssn
      port: 139
      targetPort: 139
      protocol: TCP
    - name: microsoft-ds
      port: 445
      targetPort: 445
      protocol: TCP
  sessionAffinity: ClientIP
