apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
  namespace: adminer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
      - name: adminer
        image: adminer:4.8.1
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: adminer
  namespace: adminer
spec:
  type: ClusterIP
  selector:
    app: adminer
  ports:
  - port: 80
    targetPort: 8080
