global:
  enabled: true
  tlsDisable: true
injector:
  enabled: false
server:
  image:
    repository: hashicorp/vault
    tag: 1.21.3
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m
  readinessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"
    initialDelaySeconds: 5
    periodSeconds: 10
  livenessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 5
  ingress:
    enabled: true
    ingressClassName: nginx-internal
    hosts:
      - host: vault.k.shion1305.com
        paths:
          - /
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - shion-ubuntu-2505
  standalone:
    enabled: false
  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      setNodeId: true
      config: "ui = true\n\nlistener \"tcp\" {\n  tls_disable = true\n  address = \"[::]:8200\"\n  cluster_address = \"[::]:8201\"\n}\n\nstorage \"raft\" {\n  path = \"/vault/data\"\n  \n  retry_join {\n    leader_api_addr = \"http://vault-0.vault-internal:8200\"\n  }\n  \n  retry_join {\n    leader_api_addr = \"http://vault-1.vault-internal:8200\"\n  }\n  \n  retry_join {\n    leader_api_addr = \"http://vault-2.vault-internal:8200\"\n  }\n}\n\nservice_registration \"kubernetes\" {}\n"
  dataStorage:
    enabled: true
    size: 10Gi
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
  auditStorage:
    enabled: true
    size: 10Gi
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
ui:
  enabled: true
  serviceType: ClusterIP
  servicePort: 8200
  targetPort: 8200
