global:
  enabled: true
  tlsDisable: false
injector:
  enabled: false
server:
  image:
    repository: hashicorp/vault
    tag: 1.21.3
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m
  readinessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"
    initialDelaySeconds: 5
    periodSeconds: 10
  livenessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true"
    initialDelaySeconds: 60
    periodSeconds: 10
  ingress:
    enabled: true
    ingressClassName: nginx-ssl
    hosts:
      - host: vault.k.shion1305.com
        paths:
          - /
    tls:
      - secretName: vault-tls
        hosts:
          - vault.k.shion1305.com
  extraEnvironmentVars:
    VAULT_CACERT: /vault/userconfig/vault-tls/tls.crt
    VAULT_TLSCERT: /vault/userconfig/vault-tls/tls.crt
    VAULT_TLSKEY: /vault/userconfig/vault-tls/tls.key
  volumes:
    - name: vault-tls
      secret:
        secretName: vault-tls
        defaultMode: 420
  volumeMounts:
    - mountPath: /vault/userconfig/vault-tls
      name: vault-tls
      readOnly: true
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - shion-ubuntu-2505
  standalone:
    enabled: false
  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      setNodeId: true
      config: "ui = true\n\nlistener \"tcp\" {\n  tls_disable = false\n  address = \"[::]:8200\"\n  cluster_address = \"[::]:8201\"\n  tls_cert_file = \"/vault/userconfig/vault-tls/tls.crt\"\n  tls_key_file = \"/vault/userconfig/vault-tls/tls.key\"\n  tls_client_ca_file = \"/vault/userconfig/vault-tls/tls.crt\"\n}\n\nstorage \"raft\" {\n  path = \"/vault/data\"\n  \n  retry_join {\n    leader_api_addr = \"https://vault-0.vault-internal:8200\"\n    leader_ca_cert_file = \"/vault/userconfig/vault-tls/tls.crt\"\n  }\n  \n  retry_join {\n    leader_api_addr = \"https://vault-1.vault-internal:8200\"\n    leader_ca_cert_file = \"/vault/userconfig/vault-tls/tls.crt\"\n  }\n  \n  retry_join {\n    leader_api_addr = \"https://vault-2.vault-internal:8200\"\n    leader_ca_cert_file = \"/vault/userconfig/vault-tls/tls.crt\"\n  }\n}\n\nservice_registration \"kubernetes\" {}\n"
  dataStorage:
    enabled: true
    size: 10Gi
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
  auditStorage:
    enabled: true
    size: 10Gi
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
ui:
  enabled: true
  serviceType: ClusterIP
  servicePort: 8200
  targetPort: 8200
