GARM_NAMESPACE=github-actions-runner
GARM_DEPLOYMENT=deploy/garm-server
GARM_OWNER=Shion1305

GARM_PROFILE_NAME=shion1305-k8s
GARM_CREDENTIALS_NAME=shion1305-github-app
GARM_API_URL=http://127.0.0.1:9997

GARM_RUNNER_IMAGE=harbor.shion1305.com/shion1305/garm-runner:2.335.1-ubuntu24.04
GARM_MAX_RUNNERS=6
GARM_MIN_IDLE_RUNNERS=0
GARM_FLAVOR=default

GARM_AMD_PROVIDER=kubernetes_amd64
GARM_ARM_PROVIDER=kubernetes_arm64
GARM_AMD_TAGS=shion1305-amd
GARM_ARM_TAGS=shion1305-arm
